body {
  &.overflowAU {
    overflow: hidden;
  }
}
.solution_main_img {
}
.imgSec {
  opacity: 0;
  transition: 1s all;
  position: absolute;

  &.showing {
    position: relative;
    z-index: 1;
    transition: 1s all;
    opacity: 1;
  }
}
.banner-sec {
  position: relative;
  background-image: url("../../img/intro/banner.jpg");
  // height: calc(100vw * 818 / 1452);
  height: 100vh;
  background-size: 110%;
  background-repeat: no-repeat;
  transition: all 1.5s;
  transition-delay: 2s;
  transform-origin: left bottom;
  background-position: center;
  position: relative;
  // @extend .f_r_a_center;
  // justify-content: flex-start;
  overflow: hidden;
  .bannerImg {
    transform: scale(1.1);
    transition: all 1.5s;
    transition-delay: 2s;
    width: 100%;
    &.bannerImgAnim {
      transform: scale(1);
    }
  }
  .bannerText {
    @extend .rel_y_center;
    left: var(--container_left_space);
    .bannerHead {
      font-size: 63px;
      color: #fff;
      font-family: var(--marcellus_r);
      line-height: 1.2;
      margin-bottom: 20px;
      .italictxt {
        color: var(--secondary-color);
        font-family: var(--p_f_s_r);
      }
      span {
        display: block;
        transform: translateX(calc(var(--container_width) * -1));
        transition: all 1s;
        transition-delay: 4s;
        &:nth-child(2) {
          transition-delay: 4.2s;
        }
        &.spanAnim {
          transform: translateX(0);
        }
      }
    }
    .bannerPara {
      font-size: 19px;
      font-family: var(--work_sans);
      color: var(--secondary-color);
      transform: translateX(calc(var(--container_width) * -1));
      transition: all 1s;
      transition-delay: 4.3s;
      &.bannerParaAnim {
        transform: translateX(0);
      }
    }
    @include mv-media(max, 992px) {
      top: 25%;
    }
  }
  &.banner-sec-anim {
    background-size: 100%;
  }
  .DiamondImg {
    position: absolute;
    right: 23%;
    top: 28%;
    transform: translateY(60px);
    transition: all 1.5s;
    transition-delay: 2s;
    &.DiamondImgAnim {
      transform: translateY(0);
      @include mv-media(max, 992px) {
        transform: translateY(0) translateX(-50%);
      }
    }
    @include mv-media(min, 1680px) {
      top: 39%;
      right: 22%;
    }
    @include mv-media(max, 992px) {
      transform: translateY(60px) translateX(-50%);
      top: 50%;
      left: 50%;
      right: auto;
    }
  }
  .bgDiamondImg {
    position: absolute;
    right: 22%;
    top: 22%;
    transform: scaleX(0.4) translateY(40px);
    transition: all 1.5s;
    transition-delay: 2s;
    opacity: 0;
    transform-origin: center;
    &.bgDiamondImgAnim {
      opacity: 1;
      transform: scaleX(1) translateY(0);
      @include mv-media(max, 992px) {
        transform: scaleX(1) translateY(0) translateX(-50%);
      }
    }
    .str {
      position: absolute;
      opacity: 0;
      transition: all 1.5s;
      transition-delay: 3s;
      &.str1 {
        top: 0;
        left: 0;
      }
      &.str2 {
        bottom: 40px;
        right: -35px;
        width: 30px;
      }
      &.strAnim {
        opacity: 1;
      }
    }
    @include mv-media(min, 1680px) {
      top: 35%;
    }
    @include mv-media(max, 992px) {
      transform: scaleX(0.4) translateY(40px) translateX(-50%);
      top: 46%;
      left: 50%;
      right: auto;
    }
  }
  .scrlDown {
    font-size: 15px;
    @extend .rel_x_center;
    bottom: 10%;
    color: #fff;
    font-family: var(--marcellus_r);
    text-decoration: none;
    animation: transY 2s infinite alternate;
    transform: translateX(-50%) translateY(0);
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
  @keyframes transY {
    0% {
      transform: translateX(-50%) translateY(0);
    }
    100% {
      transform: translateX(-50%) translateY(10px);
    }
  }
  @include mv-media(max, 992px) {
    background-size: cover;
  }
}
.intro-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  @extend .f_r_aj_center;
  background-color: #010001;
  // video {
  //   object-fit: cover;
  // }
  .btn_project_default {
    @extend .rel_x_center;
    background-color: #fff;
    bottom: 5%;
    right: 5%;
    transform: translateX(0);
    left: auto;
    padding: 10px 25px;
    &:hover {
      color: var(--color_primary);
    }
  }
}

.journey_main {
  position: relative;
  .illustrious_flex_outer {
    position: relative;
  }
  .illustrious_flex {
    justify-content: space-between;
    @include mv-media(max, 767px) {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
    .illustrious_left {
      width: 44%;
      position: relative;
      @include mv-media(max, 767px) {
        width: 100%;
        margin-top: 15px;
      }
      .line_two {
        position: absolute;
        left: 180px;
        top: 40px;
        z-index: 1;
        @include mv-media(max, 991px) {
          left: 140px;
          top: 20px;
        }
        @include mv-media(max, 767px) {
          display: none;
        }
      }
      .thumbnail_txt {
        opacity: 0.3;
        padding-bottom: 25px;
        h2 {
          position: relative;
          font-size: 70px;
          line-height: 88px;
          color: var(--secondary-color);
          @include mv-media(max, 1199px) {
            font-size: 60px;
            line-height: 80px;
          }
          @include mv-media(max, 991px) {
            font-size: 40px;
            line-height: 50px;
          }
          // &::after{
          //   content: ' ';
          //   position: absolute;
          //   width: 100%;
          //   height: 2px;
          //   background-color: var(--secondary-color);
          // }
        }
        p {
          // display: none;
          @include mv-media(max, 991px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .slick-current {
        &.thumbnail_txt {
          opacity: 1;
        }
        p {
          // display: none;
        }
      }
      .slick-list {
        padding-bottom: 0px;
      }
      .prev-arrow {
        bottom: -20px;
        right: unset;
        left: -12%;
        @include mv-media(max, 1280px) {
          left: -9%;
        }
      }
      .next-arrow {
        right: unset;
        bottom: unset;
        left: -12%;
        top: 0;
        @include mv-media(max, 1280px) {
          left: -9%;
        }
      }
      // .slick-arrow {
      //   position: absolute;
      //   left: -50px;
      //   top: 40%;
      //   transform: rotate(90deg);
      //   @include mv-media(max, 1199px) {
      //     left: -40px;
      //   }
      //   @include mv-media(max, 767px) {
      //     left: 0px;
      //     top: 0px;
      //     transform: rotate(0deg);
      //   }
      // }
      // .next-arrow {
      //   top: 55%;
      //   @include mv-media(max, 767px) {
      //     top: 0px;
      //   }
      // }
    }
    .illustrious_right {
      width: 54%;
      position: relative;
      @include mv-media(max, 767px) {
        width: 100%;
        padding-left: 0px;
      }
      .slider {
        position: relative;
        .slider_image {
          // padding: 0px 20px 20px 30px;
          @include mv-media(max, 767px) {
            padding: 0px;
          }
          .contentOverlay {
            @extend .rel_xy_center;
            background-color: #3b3b3b96;
            width: 100%;
            height: 100%;
            @extend .f_r_aj_center;
            padding: 30px;
            border-radius: 20px;
            .text_reg {
              color: #fff;
            }
          }
        }
      }
      .slider_layer_one {
        position: absolute;
        left: 32%;
        top: 0px;
        transform: translateY(-50%);
        z-index: 1;
        opacity: 0.6;
        @include mv-media(max, 991px) {
          display: none;
        }
      }
      .slider_layer_two {
        position: absolute;
        left: -20px;
        bottom: 125px;
        z-index: 1;
        opacity: 0.6;
        @include mv-media(max, 991px) {
          display: none;
        }
      }
      .slider_layer_three {
        position: absolute;
        right: 0px;
        top: 100px;
        z-index: 1;
        opacity: 0.25;
        width: 66px;
        @include mv-media(max, 991px) {
          display: none;
        }
      }
      .slider_layer_four {
        position: absolute;
        right: -40px;
        top: 100px;
        z-index: 1;
        opacity: 0.6;
        width: 66px;
        @include mv-media(max, 991px) {
          display: none;
        }
      }
      .slider_layer_five {
        position: absolute;
        right: -45px;
        top: 75px;
        z-index: 1;
        opacity: 0.6;
        width: 25px;
        @include mv-media(max, 991px) {
          display: none;
        }
      }
      .line_layer {
        position: absolute;
        right: -15px;
        bottom: 35px;
        z-index: 1;
        @include mv-media(max, 767px) {
          display: none;
        }
      }
      .slick-list {
        @include mv-media(max, 767px) {
          padding-bottom: 0px;
        }
      }
    }
  }
  .progress {
    position: absolute;
    top: 45%;
    left: -45%;
    width: calc(var(--illustrious_flex) - 100px);
    // height: var(--illustrious_flex);
    transform: rotate(90deg);
    @include mv-media(max, 1280px) {
      left: -42%;
    }
    @include mv-media(max, 992px) {
      display: none;
    }
  }
}
.slider_image {
}

[data-scroll-parallax] {
  transform: translate3d(0, calc(var(--viewport-y) * -6vh), 0);
  transition: transform 0.12s ease;
  will-change: transform;
}
